body {
  background-image: url('pngs/Shape.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
}

.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-box {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

.input- Group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.forgot-password {
  text-decoration: none;
  color: #6495ED;
}

.forgot-password:hover {
  color: #333;
}

.checkbox {
  margin-bottom: 20px;
}

.checkbox input[type="checkbox"] {
  margin-right: 10px;
}

.btn {
  background-color: #6495ED;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #333;
}